* {
  margin: 0;
  padding: 0; }

body {
  background-color: #181818; }

h1,
h2 {
  color: #fb4333;
  font-family: "Racing Sans One", cursive;
  text-shadow: 5px 5px 5px black; }

h1 {
  font-size: 10rem; }

h2 {
  font-size: 5rem; }

h3 {
  font-family: "Racing Sans One", cursive; }

p {
  color: #fff; }

.navbar-brand {
  color: #fb4333;
  font-family: "Racing Sans One", cursive; }

.navbar-brand:hover {
  color: #fff; }

.nav-link {
  color: #fb4333; }

.nav-link:hover {
  color: #fff; }

.navbar {
  padding: 20px; }

.tarjeta {
  margin: 30px 50px;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #fb4333, #ff3725);
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  transition: ease-in-out 0.5s;
  padding: 10px; }
  .tarjeta .tarjeta__imagen {
    height: 200px;
    border-radius: 20px;
    margin: 20px; }
  .tarjeta .tarjeta__titulo {
    font-size: 1.3rem;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #242424; }
  .tarjeta .tarjeta__texto {
    color: #fff; }

.tarjeta:hover {
  transform: scale(1.3, 1.3); }

.novedades {
  margin: 10% 50px;
  height: 300px;
  width: 30%;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #fb4333, #ff3725);
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  text-decoration: none;
  transition: ease-in-out 0.5s; }
  .novedades .novedades__titulo {
    padding-top: 10px;
    background-color: #181818;
    padding-bottom: 10px; }
  .novedades .novedades__texto {
    padding: 20px; }
  .novedades .novedades__fecha {
    text-align: left;
    padding-left: 20px; }

table {
  color: #fb4333 !important;
  height: 90vh; }

form {
  color: #fb4333; }

.texto-centrado {
  text-align: center;
  padding-top: 10%; }

.btn {
  margin: 50px 0;
  background-color: #fb4333;
  color: #fff; }

.btn:hover {
  background-color: #fff;
  color: #fb4333; }

#carouselExampleCaptions {
  margin: 100px; }

footer {
  background-image: linear-gradient(to bottom, #fb4333, #ff3725);
  bottom: 0;
  width: 100%;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; }
  footer p {
    color: #fff; }

.margen-izquierdo {
  margin-left: 50px;
  margin-bottom: 30px; }

.tarjeta-tabla ul,
ol li {
  list-style: none; }

.productos ul {
  margin-left: 50px; }

.novedades h2 {
  margin-left: 50px;
  margin-bottom: 30px; }

.contenedor {
  display: flex;
  width: 100%; }

.tarjeta-novedades:hover {
  transform: scale(1.3, 1.3); }

.headerPagina {
  animation-name: desdeLaIzquierda;
  animation-duration: 1s;
  animation-timing-function: ease-out; }

.campo {
  width: 60%;
  border-radius: 4px;
  border: 1px solid black;
  height: 30px;
  color: black; }
  .campo .campo-texto {
    padding-bottom: 50px;
    width: 60%; }

.campo:focus {
  background-color: white; }

.carousel img {
  margin: 0 auto;
  display: flex;
  max-width: 100%;
  max-height: 100%; }

.centrado {
  justify-content: center; }

.navbar-toggler {
  background-color: #fb4333; }

@media (max-width: 576px) {
  h1 {
    font-size: 6rem; }
  h2 {
    font-size: 4rem; }
  .tarjeta {
    max-width: 70%; } }

.icon {
  font-size: 2rem;
  padding: 20px;
  color: white; }

.icon:hover {
  color: red; }

.icon:visited {
  color: #181818; }

.containerGrid {
  width: 60%;
  margin: 2rem auto; }

.seccion {
  margin-bottom: 100px; }

@keyframes desdeLaIzquierda {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }
